<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiguogongfang.mapper.EmployeeMapper">
    <cache eviction="LRU" flushInterval="30000" size="512" readOnly="true"/>
    <select id="selectEmployeeByIdLike" resultType="Employee">
        select * from tb_employee where state='active'
        <if test="id !=null">
            and id=#{id}
        </if>
    </select>
    <select id="selectEmployeeByLoginNameLike" resultType="Employee">
        select * from tb_employee where state='active'
        <if test="loginname!=null and password !=null">
            and loginname=#{loginname} and password =#{password}
        </if>
    </select>
    <select id="selectEmployeeChoose" resultType="Employee">
        select * from tb_employee where state='active'
        <choose>
            <when test="id !=null">
                and id =#{id}
            </when>
            <when test="loginname!=null and password !=null">
                and loginname=#{loginname} and password =#{password}
            </when>
            <otherwise>
                and sex ='男'
            </otherwise>
        </choose>
    </select>
    <select id="selectEmployeeByIdWhere" resultType="Employee">
        select * from tb_employee
        <where>
            <if test=" state!=null">
                state =#{state}
            </if>
            <if test="id !=null">
                and id=#{id}
            </if>
        </where>

    </select>
    <select id="selectEmployeeIn" resultType="Employee">
        select * from tb_employee
        where id in
        <foreach collection="list" item="item" index="index"
                 open="(" separator="," close=")">
            #{item}
        </foreach>

    </select>
    <select id="selectEmployeeLike" resultType="Employee">
        select * from tb_employee
        <bind name="pattern" value="'%'+#{name}+'%'"/>
        where name like #{pattern}
    </select>
    <update id="updateEmployeeIfNecessary" parameterType="Employee">
        update tb_employee
        <set>
            <if test="loginname !=null">
                loginname=#{loginname},
            </if>
            <if test="password !=null">
                password=#{password},
            </if>
            <if test="name !=null">
                name=#{name},
            </if>
        </set>
        where id=#{id}
    </update>
    <update id="updateEmployeeName" parameterType="Employee">
        update tb_employee set

                name=#{name}

        where id=#{id}
    </update>
</mapper>